#Будет игнорироваться каталог tmp
tmp/

#будут игнорироваться все файлы и каталоги с суффиксами
*_old

#будут игнорироваться все файлы и каталоги с суффиксами
*_backup

#Будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db

#Будут игнорироваться все файлы и каталоги c расширением .DS_Store
*.DS_Store